ul.nav.navbar-nav.navbar-right.text-uppercase
  li: a(href="#generate").page-scroll Generate
  li: a(href="#profile").page-scroll Profile
  li: a(href="https://www.gotinder.com/" target="_blank").page-scroll Tinder