@font-face {
    font-family: 'chaletmedium';
    src: url('fonts/tinderfont-webfont.eot');
    src: url('fonts/tinderfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/tinderfont-webfont.woff') format('woff'),
         url('fonts/tinderfont-webfont.ttf') format('truetype'),
         url('fonts/tinderfont-webfont.svg#chaletmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
