@import "bootstrap.less";
@import "mixins.less";
@import "animation.less";
@import "fonts.less";

html {


  // ---------------------------------------------
  //  GENERAL
  // ---------------------------------------------
  body {

    padding-top: @navbar-height;
    
    // ---------------------------------------------
    //  NAVIGATION
    // ---------------------------------------------
    nav {
      color: @body-bg;
    }


    // ---------------------------------------------
    //  NAVIGATION
    // ---------------------------------------------
    header{

    }


    // ---------------------------------------------
    //  NOTIFICATION SECTION
    // ---------------------------------------------
    section#notifications{
      .notification{
        color: @body-bg;
        &.warning{
          background-color: @brand-warning;
        }
        &.danger{
          background-color: @brand-danger;
        }
        a{
          color: @body-bg;
          font-weight: bold;
        }
      }
    }
    


    // ---------------------------------------------
    //  TITLE SECTION
    // ---------------------------------------------
    section#title{
      // Example of the animation defined in animation.less
      .animation-name(fadeIn);
      .animation-duration(1s);
      .animation-fill-mode(both);
    }


    // ---------------------------------------------
    //  MAIN SECTION
    // ---------------------------------------------
    section#main {
      // Example of the animation defined in animation.less
      .animation-name(fadeIn);
      .animation-duration(1s);
      .animation-fill-mode(both);
      section {
          padding: 20px 0;
      }

      .no-padding {
          padding: 0;
      }

    }


    // ---------------------------------------------
    //  FOOTER
    // ---------------------------------------------
    footer {
      .text-footer{
        .text-center();
        font-size: @font-size-small;
      }
    }
  }
}