@import "bootstrap.less";
@import "mixins.less";
@import "animation.less";
@import "fonts.less";


// ---------------------------------------------
//  HEADER
// ---------------------------------------------
#header-bar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: @zindex-navbar;
  background-color: fade(@body-bg, 80%);
  min-height: @navbar-height;
  #logo{
    position: relative;
    top: 11px;
  }
}
// ---------------------------------------------
//  NOTIFICATION SECTION
// ---------------------------------------------
section#notifications{
  position: fixed;
  top: @navbar-height;
  right: 0;
  left: 0;
  .notification{
    color: @body-bg;
    a{
      color: @body-bg;
      font-weight: bold;
    }
    &.warning{
      background-color: @brand-warning;
    }
    &.danger{
      background-color: @brand-danger;
    }
  }
}

// ---------------------------------------------
//  MAIN SECTION
// ---------------------------------------------

section#main{
  header{
    .animation-name(fadeIn);
    .animation-duration(1s);
    .animation-fill-mode(both);

    .background-size(cover);
    background-position: center;
    background-image: url('../img/header.jpg');
    height: 230px;
    @media @xxs{
      height: 270px;
    }
    @media @xs{
      height: 325px;
    }
    @media @md{
      height: 400px;
    }
    @media @lg{
      height: 450px;
    }
    @media @xlg{
      height: 500px;
    }
  }

  section {
    padding: 40px 0;

    &#generate{
      .animation-name(fadeIn);
      .animation-duration(1s);
      .animation-delay(0.2s);
      .animation-fill-mode(both);
    }
  }
}


// ---------------------------------------------
//  FOOTER
// ---------------------------------------------
footer {
  .text-footer{
    .text-center();
    font-size: @font-size-small;
  }
}
