extends layouts/base

block vars
  -pageTitle = null; //- Custom page title
  -metaKeywordsPage = ""; //- Extra keywords for this page

block content
  section#generate
    .container
      .row
        .col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3.text-center
          h2.section-heading Generate your TinderMe Card
          hr.primary
          form(role="form" data-toggle="validator")
            .form-group
              //-label.control-label(for='inputTinderUsername') Tinder username
              .input-group
                span.input-group-addon @
                input#inputTinderUsername.form-control(type='text', placeholder='Tinder username' required)
            button#generateBtn.btn.btn-primary(type='submit') Generate PDF

  section#profile
    .container
      .row
        .col-lg-12
          img(src="http://images.gotinder.com/556ddeb9ee2a96493934a31e/640x640_583dfd74-2366-47d6-8d7e-596e1c7e66cc.jpg").img-circle.center-block#profilePic
  
  section#loadData
