extends layouts/base

block vars
  -pageTitle = null; //- Custom page title
  -metaKeywordsPage = ""; //- Extra keywords for this page

block content
  section#generate
    .container
      .row
        .col-lg-12.text-center
          h2.section-heading Generate your TinderMe Card
          hr.primary
          a#generate.btn.btn-primary.btn-xl.page-scroll Generate

  section#profile
    .container
      .row
        .col-lg-12
          img(src="http://images.gotinder.com/556ddeb9ee2a96493934a31e/640x640_583dfd74-2366-47d6-8d7e-596e1c7e66cc.jpg").img-responsive#profilepic
